﻿@{
    <link href="~/lib/vis-chart/vis.min.css" rel="stylesheet" />
    ViewData["Title"] = "Chart";
}

<style>
    #vis {
        border: 1px solid lightgray;
        height: 600px;
    }

    #google {
        border: 1px solid lightgray;
    }
</style>


<div class="row">
    <h2>Google</h2>
    <div class="col-md-12" id="google"></div>
</div>
<br />
<div class="row">
    <h2>Vis</h2>
    <div class="col-md-12" id="vis"></div>
</div>

@section scripts {
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="~/lib/vis-chart/vis.min.js"></script>

    <script src="~/js/googleChart.js"></script>
    <script src="~/js/visChart.js"></script>
}
