﻿@model DemoApp.Parse.Models.QueryResultViewModel;

@{
    ViewData["Title"] = "Parse";
}

<h2>Parse</h2>

<div class="row">
    <form asp-action="Search" method="get">
        <div class="col-md-offset-8 col-md-4">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Поиск" id="searchString" name="searchString" />
                <div class="input-group-btn">
                    <button class="btn btn-primary" type="submit">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </div>
            </div>
        </div>
    </form>
    <br />
    <br />
    <br />
    <div class="col-md-12">
        <table class="table table-bordered" id="table">
            <thead>
                <tr>
                    <th>Название</th>
                    <th>Дата</th>
                    <th>Цена</th>
                    <th>Описание</th>
                </tr>
            </thead>
            <tbody>
                @{
                    if (Model != null)
                    {
                        foreach (var row in Model.models)
                        {
                            <tr>
                                <td> @row.Title</td>
                                <td> @row.Date</td>
                                <td> @row.Price</td>
                                <td> @row.Text</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="4"><div class="text-center">Нет данных</div></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>

    @{
        if (Model != null && Model.Pagination)
        {
            <div class="col-sm-12">
                <ul class="pull-right pagination">
                    @{ for (int i = 1; i <= Model.Pages; i++)
                        {
                            string str = "Search?searchString=" + ViewBag.searchString + "&page=" + i;

                            if (i == Model.CurrentPage)
                            {
                                <li class="active"><a href=@str>@i</a></li>
                            }
                            else
                            {
                                <li><a href=@str>@i</a></li>
                            }
                        }
                    }
                </ul>
            </div>
        }
    }
</div>
